# **Topic :List**

 Q1. Create a list of 5 random numbers and print the list.

 Q2. Insert 3 new values to the list and print the updated list.

Q3. Try to use a for loop to print each element in the list.

In [3]:
# Q1 : Create a list of 5 random numbers and print the list.
random_list=[5,9,3,4,6]
print('list of 5 random numbers =',random_list)

list of 5 random numbers = [5, 9, 3, 4, 6]

In [4]:
# Q2. Insert 3 new values to the list and print the updated list.
random_list[5:5] =[7,8,1]
print('updated list =',random_list)

updated list = [5, 9, 3, 4, 6, 7, 8, 1]

In [6]:
# Q3. Try to use a for loop to print each element in the list.
for i in random_list:
  print (i)

5
9
3
4
6
7
8
1

# **Topic :Dictionary**

 Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.


 Q2.Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [11]:
# Q1: Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

People = {'Name':'John', 'Age':25,'Address':'New York'}
People

{'Name': 'John', 'Age': 25, 'Address': 'New York'}

In [12]:
# Q2.Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.
People['Phone']=1234567890
People

{'Name': 'John', 'Age': 25, 'Address': 'New York', 'Phone': 1234567890}

# **Topic :Set**

Q1.Create a set with values 1, 2, 3, 4, and 5.

Q2. Add the value 6 to the set created in Q1.

Q3. Remove the value 3 from the set created in Q1.

In [13]:
# Q1.Create a set with values 1, 2, 3, 4, and 5
Set={1,2,3,4,5}
Set

{1, 2, 3, 4, 5}

In [14]:
# Q2. Add the value 6 to the set created in Q1.
Set.add(6)
Set

{1, 2, 3, 4, 5, 6}

In [15]:
# Q3. Remove the value 3 from the set created in Q1.
Set.remove(3)
Set

{1, 2, 4, 5, 6}

# **Topic:Tuple**

Q1. Create a tuple with values 1, 2, 3, and 4

Q2. Print the length of the tuple created in Q1.

In [16]:
# Q1. Create a tuple with values 1, 2, 3, and 4
Tuple=(1,2,3,4)
Tuple

(1, 2, 3, 4)

In [19]:
# Q2. Print the length of the tuple created in Q1.
print('Length of tuple =',len(Tuple))

Length of tuple = 4