**Exercise 1**

Name your file: MonthNames.py

Write a program that reads an integer value between 1 and 12 from the user and prints output the corresponding month of the year.

An example run of the program (numbers in bold are typed in by the user)
Enter the month: 3
Month 3 is March

In [ ]:
# file name : MonthNames.py
# this program reads an integer value between 1 and 12 from the user and prints output the corresponding month of the year.
month={1:'January',
2:'February',
3:'March',
4:'April',
5:'May',
6:'June',
7:'July',
8:'August',
9:'Sepetember',
10:'October',
11:'November',
12:'December'}

Month_number = int(input('Enter the month (1-12) :'))
print('Month',Month_number,'is',month[Month_number])

Enter the month (1-12) :3
Month 3 is March

**Exercise 2**

A certain cinema currently sells tickets for a full price of 6 pounds, but always sells tickets for half price to people who are less than 16 years old, and for a third of the price for people who are 60 years old or more.
An example run of the program (numbers in bold are typed in by the user)
Enter your age: 63
Your ticket costs £2.00

In [ ]:
# filename :Ticket.py

full_price=6.00
Age = int(input('Enter your Age :'))

if Age >=60:
  ticket_price = full_price/3
elif Age <16:
  ticket_price = full_price/2
else:

 ticket_price = full_price

print (f'Your ticket costs £ {ticket_price:.2f}')

Enter your Age :63
Your ticket costs £ 2.00


**Exercise 3**

Name your file: BodyMassIndex.py

Write a program to calculate your BMI and give weight status.
Body Mass Index (BMI) is an internationally used measurement to check if you are a healthy weight for your height.

The metric BMI formula accepts weight in kilograms and height in meters:

BMI= weight(kg)/height2(m2)

BMI Weight Status Categories table

BMI range - kg/m2   Category

Below 18.5         Underweight

18.5 -24.9         Normal

25 - 29.9          Overweight

30 & Above     Obese

An example run of the program (numbers in bold are typed in by the user)

Enter your weight in (kg): 75

Enter your height in (m): 1.70

Your BMI is: 25.95
You are in the “overweight” range.

In [ ]:
# file name :BodyMassIndex.py

weight = float(input('Enter your weight in (kg):'))
height = float(input('Enter your height in (m):'))

BMI = weight/height**2

if BMI< 18.5:
  category='Underweight'
elif 18.5<= BMI <= 24.9:
  category='Normal'
elif 25<= BMI <= 29.9:
  category='Overweight'
elif BMI<30:
  category='Obese'
else:
  print("Invalid Input")

print(f'Your BMI is:{BMI:.2f}. \n1You are in the {category} range.')

Enter your weight in (kg):75
Enter your height in (m):1.70
Your BMI is:25.95.
1You are in the Overweight range.

**Exercise 4**

Write a Python program to receive 3 numbers from the user and print the greatest among them.

In [ ]:
number1= float(input('Enter first number:'))
number2= float(input('Enter Second number:'))
number3= float(input('Enter third number:'))

if number1 >=number2 and number1>= number3:
  print('The greatest number is',number1)
elif number2 >=number1 and number2>= number3:
  print('The greatest number is',number2)
else:
   print('The greatest number is',number3)

Enter first number:3
Enter Second number:4
Enter third number:9
The greatest number is 9.0

**Exercise 5**

Find the factorial of a given number using loops(note the number is received from the user)

In [ ]:
num=int(input('Enter the number:'))
f=1
while num>1:
  f*=num
  num-=1
print("the factorial of the given number is ", f)

Enter the number:6
the factorial of the given number is  720

**Exercise 6**

Reverse a number using while loop

In [ ]:

num=str(input('Enter the number:'))
n=len(num)
rev=''
while n>0:
  rev+=num[n-1]
  n= n-1
print("Reverse of the number: ",rev)

Enter the number:23
Reverse of the number:  32

**Exercise 7**

Finding the multiples of a number using loop

In [ ]:
num=int(input('Enter the number:'))
n=int(input('Enter the number of multiples needed:'))
print(f'The {n} multiples of {num} are :')
for i in range (1,n+1):
  multiple=num*i

  print(multiple)

Enter the number:5
Enter the number of multiples needed:4
The 4 multiples of 5 are :
5
10
15
20

**Exercise 8**

Write a program to print the inputted value as it is and break the loop if the value is 'done'.

Example run of the program

:hello there
hello there

:finished
finished

:done
Done

In [8]:
while True:
  values=input('Enter the expression :')

  if values == 'done':
    print('Done')
    break
  else:
    print(values)

Enter the expression :hello there
hello there
Enter the expression :finished
finished
Enter the expression :done
Done

**Exercise 9**


Write a program that prints the numbers from 1 to 10. But for multiples of three print "Fizz" instead of the number and for the multiple of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz"

In [13]:
for i in range(1,11):
  if i%3==0 and i%5==0:
    print('FizzBuzz')
  elif i%5==0:
    print('Buzz')
  elif i%3==0:
    print('Fizz')
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

**Exercise 10**

Write a program to print the following pattern:

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [51]:
num='54321'
n= len(num)
for i in range(n):
  print(num[i:])
  n-=1

54321
4321
321
21
1